.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 153px;
    height: 119px;
    top: 24px;
    left: 105px; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
}
@media screen and (min-width: 1440px) {
    .header {
      width: 100%;
      height: 770px;
      background-image: url('./assets/images/mochi.webp');
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero-content {
      background-image: linear-gradient(to bottom,
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)),
        url(./assets/images//mochi.webp);
    }
  }
   
.soc_nets_link {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.logo-img {
    width: 85px;
    height: 78px;
    object-fit: contain;
}

.net_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(6px);
    pointer-events: none;
}

.site-title {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 128px;
    text-transform: uppercase;
    color: #000;



}

.tagline {
    font-family: var(--fond-family);
    font-weight: 300;
    font-size: 64px;
    text-transform: uppercase;
    color: #000;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style: none;
    padding: 0;
    position: relative;
    left: 103px;
    align-items: flex-start;
    margin-top: 28px;
}

.text-nav-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    position: absolute;
    margin-top: 144px;
    width: 100%;
    row-gap: 321px;
}

.nav-link {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 40px;
    line-height: 50%;
    text-transform: uppercase;
    color: #3e3434;
    width: 295px;
    /* Ширина элемента меню */
    height: 60px;
    /* Высота элемента меню */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    /* Центрируем текст по вертикали */
    justify-content: left;
    padding-left: 16px;
    white-space: nowrap;

}

.nav-list {
    display: flex;
    /* Используем флексбокс для расположения элементов в строку */
    flex-direction: column;
    /* Элементы списка будут выстраиваться в колонку */
    gap: 34px;
    /* Устанавливаем отступ между элементами списка */
    padding: 0;
    margin: 0;
}

.nav-link::before {
    content: '';
    /* Псевдо-элемент без текста */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Ширина фона равна ширине родительского элемента */
    height: 100%;
    /* Высота фона равна высоте родительского элемента */
    background-color: #E86868;
    /* Цвет фона при ховере */
    opacity: 0;
    /* Изначально фон скрыт */
    transition: opacity 0.7s ease, transform 0.7s ease;
    /* Плавное изменение прозрачности */
    z-index: -1;
}

.nav-link:hover::before {
    opacity: 1;
    transform: scaleX(1);
    
}

.header-text {
    margin-right: 116px;
 
}

.order-btn {
    font-family: var(--second-family);
    border: 1px solid #932b82;
    padding: 9px 36px;
    width: 141px;
    height: 38px;
    
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #000;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.7s ease, transform 0.7s ease;
    margin-top: 36px;
}

.order-btn:hover,
.order-btn:focus {
    background-color: #E86868;
    
}
/* Контейнер для иконок */
.icons {
    display: flex;
    gap: 38px; 
    margin-top: 38px; 
    position: absolute;
    right: 103px; 
  }
  
  /* Общие стили для каждой иконки */
  .icon {
    display: inline-block;
    width: 24px;  
    height: 24px; 
  }
  
  /* Применяем цвет для иконок */
  .person, .search, .shopping-bag {
    fill: #1A141F; 
  }
  
  /* Стили для иконок при наведении */
  .icon:hover {
    fill: #E86868; 
  }
  