.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 153px;
    height: 119px;
    top: 24px;
    left: 105px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    z-index: 0;
}

@media screen and (min-width: 1440px) {
    .header {
        width: 100%;
        height: 770px;
        background-image: url('./assets/images/mochi.webp');
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
    }
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero-content {
        background-image: linear-gradient(to bottom,
                rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url(./assets/images//mochi.webp);
    }
}

.soc_nets_link {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.logo-img {
    width: 85px;
    height: 78px;
    object-fit: contain;
}

.net_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(6px);
    pointer-events: none;
}

.site-title {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 128px;
    text-transform: uppercase;
    color: #000;



}

.tagline {
    font-family: var(--fond-family);
    font-weight: 300;
    font-size: 64px;
    text-transform: uppercase;
    color: #000;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style: none;
    padding: 0;
    position: relative;
    left: 103px;
    align-items: flex-start;
    margin-top: 28px;
}

.text-nav-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    position: absolute;
    margin-top: 144px;
    width: 100%;
    row-gap: 321px;
}

.nav-link {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 40px;
    line-height: 50%;
    text-transform: uppercase;
    color: #3e3434;
    width: 295px;
   
    height: 60px;
   
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    
    justify-content: left;
    padding-left: 16px;
    white-space: nowrap;

}

.nav-list {
    display: flex;
    
    flex-direction: column;
   
    gap: 34px;
   
    padding: 0;
    margin: 0;
}

.nav-link::before {
    content: '';
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    height: 100%;
   
    background-color: #E86868;
    
    opacity: 0;
    
    transition: opacity 0.7s ease, transform 0.7s ease;
   
    z-index: -1;
}

.nav-link:hover::before {
    opacity: 1;
    transform: scaleX(1);

}

.header-text {
    margin-right: 116px;

}

.order-btn {
    font-family: var(--second-family);
    border: 2px solid #E86868;
    padding: 9px 36px;
    width: 141px;
    height: 38px;

    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #000;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.7s ease, transform 0.7s ease;
    margin-top: 36px;
}

.order-btn:hover,
.order-btn:focus {
    background-color: #E86868;

}

/* Контейнер для всех иконок */
.icons {
    display: flex;
    align-items: center;
    gap: 64px;
    margin-top: 38px;
    position: absolute;
    right: 103px;

}

/* Социальные иконки */
.social-icons {
    display: flex;
    align-items: center;
    gap: 64px;
    margin-right: 148px;

}

/* Общие стили для всех иконок */
.icon,
.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

/* Устанавливаем цвет для иконок React Icons */
.social-icons a svg {
    width: 24px;
    height: 24px;
    color: #1A141F;
    transition: color 0.3s ease;
}

/* Меняем цвет соцсетей при наведении */
.social-icons a:hover svg,
.social-icons a:focus svg {
    color: #E86868;
}

/* Основные иконки (поиск, аккаунт, корзина) */
.icon img {
    width: 24px;
    height: 24px;
    transition: filter 0.3s ease;
}

/* Меняем цвет основных иконок при наведении */
.icon:hover img,
.icon:focus img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(80%) saturate(400%) hue-rotate(320deg);
}