h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  flex-grow: 1;
}

@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
    height: 770px;
    /* Устанавливаем высоту хедера */
    background-image: url('./assets/images/mochi.webp');
    /* Укажите путь к вашему изображению */
    /* Фоновое изображение растягивается по размеру контейнера */
    background-position: center;
    /* Центрируем фоновое изображение */
    background-repeat: no-repeat;
    display: flex;
    /* Используем flexbox для расположения элементов */
    justify-content: center;
    /* Центрируем содержимое по горизонтали */
    align-items: center;
    background-size: cover;
    /* Центрируем содержимое по вертикали */

  }
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .hero-content {
    background-image: linear-gradient(to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)),
      url(../images/mochi.webp);
    /* Фон для экранов с высокой плотностью пикселей */
  }
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}